name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
          cache: pnpm
      - run: pnpm install
      - run: pnpm build
      - run: pnpm package
      - name: Test
        run: pnpm test
      - name: Upload Coverage Report
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  format:
    name: Check Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
          cache: pnpm
      - run: pnpm install
      - run: pnpm format-check
